*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'poppins','sans-serif';
    background-color: #71b7e6;

}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;

}
.container{
    max-width:700px ;
    width: 100%;
    background: rgb(205, 145, 56);
    padding: 25px 30px;
    border-radius:5px;

}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;

}
.container:title::before{
    content: '';
    position: relative;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30;
    background-color: blue;
}
.container form.user-detail{
    display: flex;
    flex-wrap: wrap;

}
form.user-detail.input-box{
    margin: 20px 0 2px 0;
    width: calc(100%/2-20px);
}
.user details.input-box{
    display: block;
    font-weight: 500 ;
    margin-bottom: 5px;

}
.user-details.input-box input{
    height: 45px;
    width: 100;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(193, 134, 46);
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3 ease;

}
.user-details.input-box input:focus,
.user-details.input-box input:valid {


border-color: aqua;

}
form.button.input{
    height: 100;
    width: 100;
    outline: none;
    color: rgb(213, 146, 69);
    border: none;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    letter-spacing: 1px;
    background: liner-gradient(135deg, #e6e471);

}
form.button input:hover{
    background: linear-gradient(135eg,#e4b040);

}
@media (max-width:580px) {
    .container{
        max-width: 100%;
    }

    
}
form.user-details.input{
    margin:bottom(15px);
    width: 100%;

}
.container form.user-detail{
    max-height: 300px;
    overflow-y:scroll;

}
.user-details::-webkit-scrollbar{
width:0;
}